.am-header-title {
	font-size: 1.6rem !important;
}

.am-list h1 {
	font-size: 12px !important;
	margin-bottom: 0 !important;
	padding-left: 5px !important;
	font-weight: normal !important;
	/*color: #0E90D2;*/
}

.am-list h2 {
	font-size: 12px !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	padding-left: 5px !important;
	font-weight: normal !important;
}

.am-list li {
	position: relative;
	/*min-height: 50px;*/
	padding-top:3px;
}
.am-list h1:after{
	content: '';
	display: block;
	height: 20px;
	width:100%;
}
.am-list .price {
	position: absolute;
	right: 5px;
	bottom: 3px;
}

hr {
	margin-top: 5px !important;
	margin-bottom: 5px !important;
}

.none {
	display: none !important;
}

#result p {
	padding-left: 10px;
	margin-top: 0;
	margin-bottom: 0 !important;
	font-size: 14px;
	color: #8C8C8C;
}

#result .p_top{
	padding-top: 5px !important;
}

.close {
	right: 1rem;
	left:auto !important;
}
.fixed{
	position:fixed;
	top:49px;
	width:100%;
	left:0;
	right:0;
	z-index: 1010;
}
#result{
	margin-top:37px;
}
#result_combox{
	margin-top:-40px;
}
.seltime{
	display: inline-block !important;
	width:49% !important;
}
#modal_detail{
	width: 100%;
	left: 0 !important;
	margin-left:0 !important;
	top:0 !important;
	margin-top: 0 !important;
}
.am-modal-hd .am-close{
	top:-3px !important;
}
#prodetail p{
	margin-top: 2px;
	margin-bottom: 2px;
}
#prodetail .am-panel{
	margin-bottom: 0 !important;
}
.tptx_ytxq_5_1b{
	
}
#headerimg{
	width:152%;
}
#prodetail{
	width:100%;
	overflow:hidden;
	font-size:12px;
}
ul {
	list-style: outside none none;
	padding-left:0;
}
#hxxx{
	padding-top:0;
}
.p1{
	font-size: 14px;
	color:#0E90D2;
	font-weight: bold;
}
.p3{
	color:#999999;
}
#fysm{
	width:100%;
	overflow:auto;
}
